/* Main Body */
/* .main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
.headerSection { grid-area: 1 / 3 / 2 / 11; }
.navSection { grid-area: 2 / 3 / 5 / 5; }
.contentSection { grid-area: 2 / 5 / 5 / 11; }
.aboutSection { grid-area: 5 / 4 / 6 / 10; } */

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
.headerSection { grid-area: 1 / 2 / 3 / 11; }
.navSection { grid-area: 3 / 2 / 10 / 4; }
.contentSection { grid-area: 3 / 4 / 10 / 11; }
.aboutSection { grid-area: 10 / 3 / 12 / 10; } 
  

/* Header */
.headerSection{
  display: flex;
  flex-direction: row;
}
.headerSection > img{
  border: 1px solid red;
}
.headerSection > h1{
  flex-grow: 4;
  border: 1px solid blue;
}